*.fasta
*.fa
*.faa
*.fastq
*.fq
*.BAM
*.bam
*.SAM
*.sam
*.gz
*.zip
/home/frle5739/genome_analysis/data/*
/home/frle5739/genome_analysis/analyses/06_06_binning_evaluation/*
/home/frle5739/genome_analysis/analyses/10_phylogenetic_placement/*

